IRN.zip filter=lfs diff=lfs merge=lfs -text
KWT.zip filter=lfs diff=lfs merge=lfs -text
SAU.zip filter=lfs diff=lfs merge=lfs -text
IRQ.zip filter=lfs diff=lfs merge=lfs -text
JOR.zip filter=lfs diff=lfs merge=lfs -text
QAT.zip filter=lfs diff=lfs merge=lfs -text
SYR.zip filter=lfs diff=lfs merge=lfs -text
TUR.zip filter=lfs diff=lfs merge=lfs -text
ARE.zip filter=lfs diff=lfs merge=lfs -text
ARM.zip filter=lfs diff=lfs merge=lfs -text
CYP.zip filter=lfs diff=lfs merge=lfs -text
YEM.zip filter=lfs diff=lfs merge=lfs -text
BHR.zip filter=lfs diff=lfs merge=lfs -text
ISR.zip filter=lfs diff=lfs merge=lfs -text
PSE.zip filter=lfs diff=lfs merge=lfs -text
OMN.zip filter=lfs diff=lfs merge=lfs -text
PAK.zip filter=lfs diff=lfs merge=lfs -text
AFG.zip filter=lfs diff=lfs merge=lfs -text
AZE.zip filter=lfs diff=lfs merge=lfs -text
LBN.zip filter=lfs diff=lfs merge=lfs -text
